[Unit]
Description=Condtux automatic clock synchronization
Wants=network-online.target
After=NetworkManager.service network-online.target systemd-timesyncd.service
Before=apt-daily.service apt-daily-upgrade.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/condtux-time-sync --boot
TimeoutStartSec=30
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
